<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="Admin" connectionString="Data Source=SQL12-DW1;Initial Catalog=Admin;User Id=WebApps;Password=fA5H3BEc;Connection Timeout=60" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="AppId" value="10" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AccessURL" value="http://AppsDev/UserAdmin/Access.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AccessSource" value="*** DEVELOPMENT ***" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>