@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Offline</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>SITE MAINTENANCE</h1>
            <p class="lead">
                We sincerely apologize for the inconvenience.<br />
                Our site is currently undergoing scheduled<br />
                maintenance and upgrades, but will return shortly.<br />
                Thank you for your patience.
            </p>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
