/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 80px;
    padding-bottom: 20px;
    font-family: "Gotham", "Calibri", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
