@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Offline</title>
</head>
<body>
    <table>
        <tr>
            <td>
                <h1>SITE MAINTENANCE</h1>
                <p>
                    We sincerely apologize for the inconvenience.<br />
                    Our site is currently undergoing scheduled<br />
                    maintenance and upgrades, but will return shortly.<br />
                    Thank you for your patience.
                </p>
            </td>
        </tr>
    </table>
</body>
</html>
