<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<connectionStrings>
		<!--<add name="Admin" connectionString="Data Source=SQL12-DW1;Initial Catalog=Admin;User Id=WebApps;Password=fA5H3BEc;Connection Timeout=60" providerName="System.Data.SqlClient"/>
		<add name="OSOTT" connectionString="Data Source=SQL-DW1;Initial Catalog=OSOTT;User Id=WebAppApplications;Password=WhatToSetThisPa33wordTo?;Connection Timeout=60" providerName="System.Data.SqlClient"/>
		<add name="OSOTTDEV" connectionString="Data Source=SQL-DW1;Initial Catalog=OSOTT;User Id=WebAppApplications;Password=WhatToSetThisPa33wordTo?;Connection Timeout=60" providerName="System.Data.SqlClient"/>
		<add name="OSOTTUAT" connectionString="Data Source=SQL-UW1;Initial Catalog=OSOTT;User Id=WebAppApplications;Password=WhatToSetThisPa33wordTo?;Connection Timeout=60" providerName="System.Data.SqlClient"/>
		<add name="OSOTTLIVE" connectionString="Data Source=RPT-PW1;Initial Catalog=OSOTT;User Id=WebAppApplications;Password=WhatToSetThisPa33wordTo?;Connection Timeout=60" providerName="System.Data.SqlClient"/>
		<add name="AdminDEV" connectionString="Data Source=SQL12-DW1;Initial Catalog=Admin;User Id=WebApps;Password=fA5H3BEc;Connection Timeout=60" providerName="System.Data.SqlClient"/>
		<add name="AdminLIVE" connectionString="Data Source=SQL12-PW1;Initial Catalog=Admin;User Id=WebApps;Password=fA5H3BEc;Connection Timeout=60" providerName="System.Data.SqlClient"/>
		<add name="Dependencies" connectionString="Data Source=BIZ-PW1;Initial Catalog=Admin;User Id=WebAppApplications;Password=WhatToSetThisPa33wordTo?;Connection Timeout=60" providerName="System.Data.SqlClient"/>-->
		
		<add name="Admin" connectionString="Data Source=DESKTOP-I58RK5F\SQLEXPRESS;Initial Catalog=Admin;Integrated Security=SSPI;Connection Timeout=60" providerName="System.Data.SqlClient" />
		<add name="OSOTT" connectionString="Data Source=DESKTOP-I58RK5F\SQLEXPRESS;Initial Catalog=OSOTT;Integrated Security=SSPI;Connection Timeout=60" providerName="System.Data.SqlClient" />
		<add name="OSOTTDEV" connectionString="Data Source=DESKTOP-I58RK5F\SQLEXPRESS;Initial Catalog=OSOTT;Integrated Security=SSPI;Connection Timeout=60" providerName="System.Data.SqlClient" />
		<add name="OSOTTUAT" connectionString="Data Source=DESKTOP-I58RK5F\SQLEXPRESS;Initial Catalog=OSOTT;Integrated Security=SSPI;Connection Timeout=60" providerName="System.Data.SqlClient" />
		<add name="OSOTTLIVE" connectionString="Data Source=DESKTOP-I58RK5F\SQLEXPRESS;Initial Catalog=OSOTT;Integrated Security=SSPI;Connection Timeout=60" providerName="System.Data.SqlClient" />
		<add name="AdminDEV" connectionString="Data Source=DESKTOP-I58RK5F\SQLEXPRESS;Initial Catalog=Admin;Integrated Security=SSPI;Connection Timeout=60" providerName="System.Data.SqlClient" />
		<add name="AdminLIVE" connectionString="Data Source=DESKTOP-I58RK5F\SQLEXPRESS;Initial Catalog=Admin;Integrated Security=SSPI;Connection Timeout=60" providerName="System.Data.SqlClient" />
		<add name="Dependencies" connectionString="Data Source=DESKTOP-I58RK5F\SQLEXPRESS;Initial Catalog=Admin;Integrated Security=SSPI;Connection Timeout=60" providerName="System.Data.SqlClient" />   
	</connectionStrings>
	<appSettings>
		<add key="AppId" value="1" />
		<add key="AccessURL" value="http://APPS12-DW1/UserAdmin/Access.aspx" />
		<add key="AccessURLDev" value="http://APPS12-DW1/UserAdmin/Access.aspx" />
		<add key="AccessURLLive" value="http://APPS12-PW1/UserAdmin/Access.aspx" />
		<add key="aspnet:MaxHttpCollectionKeys" value="100000" />
		<add key="AccessSource" value="*** DEVELOPMENT ***" />
	</appSettings>
	<system.web>
		<authentication mode="Windows" />
		<identity impersonate="true" />
		<globalization culture="en-NZ" uiCulture="en-NZ" />		
		<httpRuntime requestValidationMode="2.0" maxRequestLength="2097152" />
		
		<customErrors mode="RemoteOnly" defaultRedirect="~/ErrorPages/Oops.aspx">
			<error statusCode="404" redirect="~/ErrorPages/404.aspx" />
		</customErrors>
		
		<pages theme="Theme">
			<controls>
				<add assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagPrefix="cc1" />
			</controls>
		</pages>
		
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
		</compilation>
		<sessionState timeout="480" />
	</system.web>
	<system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
		<defaultDocument>
			<files>
				<add value="Applications.aspx" />
			</files>
		</defaultDocument>
		<httpErrors>
			<remove statusCode="404" />
			<error statusCode="404" prefixLanguageFilePath="" path="/ErrorPages/404.aspx" responseMode="ExecuteURL" />
		</httpErrors>
	</system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.14.5506.26196" newVersion="5.14.5506.26196" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>